<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-color: #d6f3ff;">
    <nav class="navbar navbar-inverse" style="background-color: black;" >
        <div class="container-fluid" >
          <div class="navbar-header">
            <!-- <div class="logo" > -->
                <a href="#"><h2>Healthify</h2></a>
            <!-- </div> -->
            <!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
          </div>
          <ul class="nav navbar-nav" style="display: inline;" >
            <!-- <li class="active"><a href="#">Home</a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right" style="display: inline;font-size: large;">
            <li><a href="/"><span class="glyphicon glyphicon-log-in"></span><h4>Log Out</h4></a></li>
          </ul>
        </div>
      </nav>
      <br>
    
    
    <h2 style="font-weight: bold;padding: 10px;">STEP 2</h2>
    <hr>
    <h4 style="text-align: center;">Facial Emotion Detection</h4>
    <br>  
    <div class="col-md-12" style="left:400px">    
    <a href="/emotion" class="btn btn-success" style="padding: 10px 120px; font-size: large;" role="button" >Start</a>
    <a href="/assessment3" class="btn btn-success" role="button" style="padding: 10px 120px;font-size: large;">Next</a>
    </div>


</body>


</html>