<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 330px;
  perspective: 1000px;
  display: inline-block;
  padding-left :90px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  padding: 15px;
}
</style>
</head>
<body style="background-color: #d6f3ff;">

<h2 style="text-align: center">Explore our Curated list of CBT Techniques to help you Manage your problems</h2>

<div class="container">

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="../static/CBT/Capture1.jpg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <p style="text-align: justify;word-spacing: 2px">This technique is a way to gather about one’s moods and thoughts. A CBT journal can include the time of the mood or thought, the source of it, the extent or intensity, and how we reacted, among other factors.This technique can help us to identify our thought patterns and emotional tendencies, describe them, and change, adapt, or cope with them.</p>  
    </div>
  </div>
</div>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="../static/CBT/Capture2.jpg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
        <p style="text-align: justify;word-spacing: 2px">This is a primary goal of CBT and can be practiced with or without the help of a therapist. In order to unravel cognitive distortions, you must first become aware of the distortions from which you commonly suffer.Part of this involves identifying and challenging harmful automatic thoughts, which frequently fall into one of the 15 categories listed earlier.</p>
    </div>
  </div>
</div>  
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="../static/CBT/Capture3.jpg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
        <p style="text-align: justify;word-spacing: 2px">Once you identify the distortions you hold, you can begin to explore how those distortions took root and why you came to believe them. When you discover a belief that is destructive or harmful, you can begin to challenge it.For example, if you believe that you must have a high-paying job to be a respectable person, but you’re then laid off from your high-paying job, you will begin to feel bad about yourself.Instead of accepting this faulty belief that leads you to think negative thoughts about yourself, you could take an opportunity to think about what really makes a person “respectable,” a belief you may not have explicitly considered before.</p>
    </div>
  </div>
</div>


<br>
<br>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="../static/CBT/Capture4.png" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back"> 
      <p style="text-align: justify;">This technique is specifically effective for those who suffer from obsessive-compulsive disorder (OCD). You can practice this technique by exposing yourself to whatever it is that normally elicits a compulsive behavior, but doing your best to refrain from the behavior.You can combine journaling with this technique, or use journaling to understand how this technique makes you feel.</p> 
    </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="../static/CBT/Capture5.png" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
        <p style="text-align: justify;word-spacing: 2px">This technique is intended to treat panic and anxiety. It involves exposure to feared bodily sensations in order to elicit the response. Doing so activates any unhelpful beliefs associated with the sensations, maintains the sensations without distraction or avoidance, and allows new learning about the sensations to take place.It is intended to help the sufferer see that symptoms of panic are not dangerous, although they may be uncomfortable.</p>
    </div>
  </div>
</div>
<div class ="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="../static/CBT/Capture6.jpg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
        <p style="text-align: justify;word-spacing: 2px">Nightmare exposure and rescripting are intended specifically for those suffering from nightmares. This technique is similar to interoceptive exposure, in that the nightmare is elicited, which brings up the relevant emotion.Once the emotion has arisen, the client and therapist work together to identify the desired emotion and develop a new image to accompany the desired emotion.</p>
    </div>
  </div>
</div>

<br>
<br>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="../static/CBT/Capture7.jpg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
         <p style="text-align: justify;word-spacing: 2px">This technique is especially useful for those suffering from fear and anxiety. In this technique, the individual who is vulnerable to crippling fear or anxiety conducts a sort of thought experiment in which they imagine the outcome of the worst-case scenario.Letting this scenario play out can help the individual to recognize that even if everything he or she fears comes to pass, the outcome will still be manageable.</p>
    </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="../static/CBT/Capture8.jpg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
        <p style="text-align: justify;word-spacing: 2px">This is a familiar technique to those who practice mindfulness. Similar to the body scan, this technique instructs you to relax one muscle group at a time until your whole body is in a state of relaxation.You can use audio guidance, a YouTube video, or simply your own mind to practice this technique, and it can be especially helpful for calming nerves and soothing a busy and unfocused mind.
        </p>
    </div>
  </div>
</div>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="../static/CBT/Capture9.jpg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
       <p style="text-align: justify;word-spacing: 2px">This is another technique that will be familiar to practitioners of mindfulness. There are many ways to relax and bring regularity to your breath, including guided and unguided imagery, audio recordings, YouTube videos, and scripts. Bringing regularity and calm to your breath will allow you to approach your problems from a place of balance, facilitating more effective and rational decisions (Megan, 2016).
       These techniques can help those suffering from a range of mental illnesses and afflictions, including anxiety, depression, OCD, etc.</p>
    </div>
  </div>
</div>
</div>
</body>
</html>
