<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mindfulness</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
    <!-- <link rel="manifest" href="site.webmanifest"> -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">  
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">  -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gijgo.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
    
    
    
    
    

    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->


    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="/static/img/logo.png" alt="Logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="index.html">home</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <div class="book_btn d-none d-lg-block">
                                    <a  href="#">Take Test</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Contact Us</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /bradcam_area  -->

    <!-- ================ contact section start ================= -->
    <section class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="contact-title">Get in Touch</h2>
                    </div>
                    <div class="col-lg-8">
                        <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder=" Name"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Enter your name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Enter Subject">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="button button-contactForm boxed-btn">Send</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="fa fa-home"></i></span>
                            <div class="media-body">
                                <h3>Mumbai, India.</h3>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="fa fa-tablet"></i></span>
                            <div class="media-body">
                                <h3>+1 253 565 4321</h3>
                                <p>Mon to Fri 9am to 6pm</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="fa fa-envelope"></i></span>
                            <div class="media-body">
                                <h3>support@mindfulness.com</h3>
                                <p>Send us your query anytime!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- ================ contact section end ================= -->
    
    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="/static/img/logo.png" alt="Logo">
                                </a>
                            </div>
                            <p>
                                Mindfulness <br>
                                Your Mental Fitness Assistant
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class=" fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Useful Links
                            </h3>
                            <ul>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--/ footer end  -->
    
        <!-- JS here -->
       
      <!-- <script src="/static/js/bootstrap.min.js"></script>  -->
         <script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>
         <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <!-- <script src="/static/js/bootstrap.min.js"></script> -->
        <script src="/static/js/owl.carousel.min.js"></script>
        <script src="/static/js/isotope.pkgd.min.js"></script>
        <script src="/static/js/ajax-form.js"></script>
        <script src="/static/js/waypoints.min.js"></script>
        <script src="/static/js/jquery.counterup.min.js"></script>
        <script src="/static/js/imagesloaded.pkgd.min.js"></script>
        <script src="/static/js/scrollIt.js"></script>
        <script src="/static/js/jquery.scrollUp.min.js"></script>
        <script src="/static/js/wow.min.js"></script>
        <script src="/static/js/nice-select.min.js"></script>
        <script src="/static/js/jquery.slicknav.min.js"></script>
        <script src="/static/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/gijgo.min.js"></script> 

        <!-- contact js-->
         <script src="/static/js/contact.js"></script>
        <script src="/static/js/jquery.ajaxchimp.min.js"></script>
        <script src="/static/js/jquery.form.js"></script>
        <script src="/static/js/jquery.validate.min.js"></script>
        <script src="/static/js/mail-script.js"></script>
    
        <script src="/static/js/main.js"></script>
         <script>
            $('#datepicker').datepicker({
                iconsLibrary: 'fontawesome',
                icons: {
                 rightIcon: '<span class="fa fa-caret-down"></span>'
             }
            });
            $('#datepicker2').datepicker({
                iconsLibrary: 'fontawesome',
                icons: {
                 rightIcon: '<span class="fa fa-caret-down"></span>'
             }
    
            });
        </script> 
    </body>
    
    </html>